<div class='cart-container'>
	<div class='tittle-container'>
		<h1 class='cart-id'>Cart ID: {{_id}}</h1>
	</div>
	<div>
		{{#each products}}
			<div class='product-detaill'>
				<p> ID:{{this.productID}}</p>
				<p>Cantidad: {{this.quantity}}</p>
			</div>

			<div class='product-detail'>
				{{!-- <div class='w-11'>
					<img src='{{this.product.thumbnail}}' alt='{{this.product.title}}' />
				</div> --}}
				<p>Categoría: {{this.category}}</p>
				<p>Nombre: {{products.title}}</p>
				<p>Precio: {{product.price}}</p>
			</div>
		{{/each}}
	</div>
</div>
