<!-- 1 - Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand d-flex align-items-center ms-2" href="#">
            <img src="/static/images/logo.png" id="logo" alt="Logo" width="50" height="50" class="me-2">
        </a>
        <div class="collapse navbar-collapse align-items-center" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/profile"><i class="fas fa-id-card  m-2"></i> Tu perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/sessions/logout"><i class="fas fa-door-open  m-2"></i> Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- 2 - Título -->
<header class="container mt-3 text-center">
    <h2 class="text-primary"><i class="bi bi-cart-fill"></i> Carrito de Compras</h2>
    <p>Cart ID: <span id='cart-id'>{{cart._id}}</span></p>
</header>

<header class="container mt-3 text-center">
    <h4 class="text-primary">Productos en el Carrito:</h4>
</header>


<!-- 3- tarjetas de productos -->
<div class="container py-5">
    <div class="row mt-4">
        <div class="col-12">
            {{#each cartDetail}}
                <div class='card mb-3 shadow-sm'>
                    <div class='col-md-4 card-img-container'>
                        <img src="{{this.thumbnail}}" class="card-img" alt="{{this.title}}">
                    </div>
                    <div class='col-md-8'>
                        <div class='card-body'>
                            <h5 class='card-title'>{{this.title}}</h5>
                            <p>ID del Producto: <span class='text-info' id="product-id">{{this._id}}</span></p>
                            <p>Precio Unitario: <span class='text-info'>{{this.price}} USD</span></p>
                            <p>
                                Modifica cantidad: <input type="number" id="quantityInput" name="newQuantity" min="1" value="{{this.quantity}}" data-productId="{{this._id}}" data-cartId="{{../cart._id}}" class="form-control" style="display: inline-block;">
                            </p>
                            <button class='btn btn-danger delete-product mt-2' data-product-id='{{this._id}}'><i class="bi bi-trash-fill"></i> Eliminar</button>
                        </div>
                    </div>
                </div>
            {{/each}}    
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 text-center">
            <div class="total-container">
                <h3 class="text-total">Total: {{totalPrice}} USD </h3>
                <form action="/carts/{{cart._id}}/purchase" method="get">
                    <button class='btn btn-success btn-lg'><i class="bi bi-cash-stack"></i> Confirmar Compra</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 text-center">
            <button id="empty-cart" class='btn btn-danger btn-lg'><i class="bi bi-cart-x-fill"></i> Vaciar Carrito</button>
            <form action="/products" method="get" class='d-inline-block ml-2'>
                <button class='btn btn-primary btn-lg'><i class="bi bi-arrow-return-left"></i> Continuar Comprando</button>
            </form>
        </div>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <p>Disclaimer: This is a demo website. The products listed here are not for sale. The chat is not real. This website is for demonstration purposes only.</p>
                <p>© 2023 Coder Backend - Developed by Luciano Alessi</p>
            </div>
            <div class="col-md-6">
                <h5>Contacto:</h5>
                <a href="https://www.linkedin.com/in/lucianoalessi/" class="text-light"><i class="fab fa-linkedin"></i> LinkedIn</a><br>
                <a href="https://github.com/lucianoalessi" class="text-light"><i class="fab fa-github"></i> GitHub</a><br>
                <a class="text-light">📧 lucianoalessi9@hotmail.com</a><br>
                <p class="text-light">📍  Quilmes, Buenos Aires.</p>
            </div>            
        </div>
    </div>
</footer>

<script src="/static/js/cart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 


<style>

        
    /* Estilos generales */
    body {
        background: linear-gradient(45deg, #06c -52%, #000 81%, #a044e3 95%);
        color: white;
        font-size: 16px;
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    /* Barra de navegación */
    .navbar {
        padding: 1rem;
    }

    .nav-items {
        float: right;
        display: inline-block;
    }

    .navbar-collapse{
        align-items: center;
        justify-content: space-between;
    }

    .nav-link{
        border-radius: 25px;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
    }


    /*Estilos para cartas de productos*/

    .card {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        border: none;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }


    .card-img-container {
        width: 250px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .card-img {
        max-width: 50%;
        max-height: 50%;
        object-fit: contain;
    }

    /*Estilos para el monto total*/
    .total-container {
        border: 2px solid #8000ff;
        border-radius: 25px;
        padding: 20px;
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #8000ff;
        color: white;
    }

    .text-primary {
        color: #28a745;
    }
    .text-total {
        color: rgb(255, 255, 255);
        font-size: 1.5em;
        margin: 0;
        font-style: normal;
    }

    #quantityInput {

        border-collapse: collapse;
        -webkit-font-smoothing: antialiased;
        display: block;
        background: transparent;
        color: rgba(255, 255, 255, 0.9);
        font-family: inherit;
        overflow: hidden;
        resize: none;
        border-radius: .375em;
        height: 30px;
        line-height: 22px;
        margin: 0;
        flex-grow: 1;
        width: 74px;
        align-items: center;
        background-color: inherit;
        font-size: 16px;
        outline: none;
        padding: 0;
        text-align: center;
    }


    /*Estilo para botones*/
    
    /* botones en general*/
    .btn {
        border: none;
        border-radius: 50px;
        transition: background-color .2s, transform .2s;
    }
    .btn:hover {
        color: white;
        transform: scale(1.05);
    }

    /* botones en Success*/
    .btn-outline-success {
        background-color: #0033ff;
        color: white;
    }

    .btn-outline-success:hover {
        background-color: #28a745;
        color: white;
    }

    /* botones en Secondary*/
    .btn-outline-secondary {
        background-color: transparent;
        color: #6c757d;
    }

    .btn-outline-secondary:hover {
        background-color: #6c757d;
        color: white;
    }

    /* botones en danger*/
    .btn-outline-danger {
        background-color: transparent;
        color: #dc3545;
    }

    .btn-outline-danger:hover {
        background-color: #dc3545;
        color: white;
    }


    /* Pie de pagina */
    footer {
        margin-top: auto;
    }

    /* Adaptable (Responsivo) */
    @media screen and (max-width: 767px) {
        .navbar-brand {
            display: none;
        }
    }

</style>