<div>
    <h3>Bienvenido, {{user.name}}!</h3>
	<h4>Datos de usuario:</h4>
    <p>email {{user.email}}</p>
    <p>Edad {{user.age}}</p>
	<p>Rol {{user.rol}}</p>


	<form action="/api/sessions/logout" method="get">
		<button>Salir</button>
	</form>
	
</div>

<div class='productsList'>
	{{#products.docs}}
		<div class='card' id='card-container'>
			<div>
				<small class='card-category'>Categoría: {{this.category}}</small>
				<small class='card-id'>{{this._id}}</small>
			</div>
			<br />
			{{!-- <div class='slides'>

				<a href='/products/{{this.idx}}'>
					<img
						src='{{this.thumbnail}}'
						alt='{{this.title}}'
						class='thumbnail'
					/>
				</a>

			</div> --}}
			<br />
			<h3 class='card-title font-bold'>{{this.title}}</h3>
			<br />
			<p class='card-description'>{{this.description}}</p>
			<br />
			<p class='card-price'> USD {{this.price}}</p>
			<br />
			<div class='info-container'>
				<p class='code'>Codigo: {{this.code}}</p>
				<p class='stock'>Stock: {{this.stock}}</p>
			</div>
			<button id='addToCart'>agregar al carrito</button>
		</div>
	{{/products.docs}}
</div>

<div class='pagination'>
	{{#if products.hasPrevPage}}
		<a href={{products.prevLink}}> Anterior</a>
	{{/if}}
	&nbsp;
	{{products.page}}
	&nbsp;
	{{#if products.hasNextPage}}
		<a href={{products.nextLink}}>Siguiente </a>
	{{/if}}
</div>
<script src='js/products.js'></script>