<div>
    <h1>Tu perfil (sin datos sensibles):</h1>
    <p>Nombre completo: {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.role}}</p>
    <p>Cart ID: {{cartId}}</p>
    <form action="/products" method="get">
		<button>Volver</button>
	</form>
    <form action="/api/sessions/logout" method="get">
		<button>Salir</button>
	</form>
</div>