<h2>Real Time Products:</h2>
<div>
    <h3>Bienvenido, {{user.first_name}} {{user.last_name}}!</h3>
	<h4>Datos de usuario:</h4>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
	<p>Rol: {{user.role}}</p>
	<p>Cart ID:</p>
	<p id="cart-id">{{cart}}</p>


	{{!-- <form action="/profile" method="get">
		<button>Perfil</button>
	</form>
	<form action="/carts/{{cart}}" method="get">
		<button>Ir al carrito</button>
	</form> --}}
	<form action="/api/sessions/logout" method="get">
		<button>Salir</button>
	</form>
	
</div>
<div class="container">
    
    <div class="product-form-container">
        
        <h3>Agrega un producto:<h3></h3>
        <form id="formProduct">
            <div div class="input">
                <input class="controls" type="text" name="title" id="title" placeholder="Ingrese Nombre del Producto" required>
                <input class="controls" type="text" name="description" id="description" placeholder="Ingrese description" required>
                <input class="controls" type="number" name="stock" id="stock" placeholder="Ingrese su stock" required>
                <input class="controls" type="text" name="thumbnail" id="thumbnail" placeholder="Ingrese su imagen url" required>
                <input class="controls" type="text" name="category" id="category" placeholder="Ingrese categoria" required>
                <input class="controls" type="number" name="price" id="price" placeholder="Ingrese precio del producto" required>
                <input class="controls" type="text" name="code" id="code" placeholder="Ingrese codigo del producto" required>
            </div>
            <button class="botons" type="submit" name="add-btn" id="add-btn" >Registrar </button>
        </form>
    </div> 

        <div class="update-form">
        
        <h3>Actualize un producto:<h3></h3>
        <form id="updateForm">
            <div div class="input">
                <input class="controls" type="text" name="productID" id="productID" placeholder="Ingrese ID" >
                <br>
                <h4>Datos a actualizar:<h4>
                <input class="controls" type="text" name="title" id="title" placeholder="Ingrese Nombre del Producto" >
                <input class="controls" type="text" name="description" id="description" placeholder="Ingrese description" >
                <input class="controls" type="number" name="stock" id="stock" placeholder="Ingrese su stock" >
                <input class="controls" type="text" name="thumbnail" id="thumbnail" placeholder="Ingrese su imagen url" >
                <input class="controls" type="text" name="category" id="category" placeholder="Ingrese categoria" >
                <input class="controls" type="number" name="price" id="price" placeholder="Ingrese precio del producto" >
                <input class="controls" type="text" name="code" id="code" placeholder="Ingrese codigo del producto" >
            </div>
            <button class="botons" type="submit" name="add-btn" id="add-btn" >Update </button>
        </form>
    </div> 

    <div class="delete-product-container">
        <h3> Eliminar un producto:</h3>
        <form id="deleteProduct">
            <input class="controls" type="text" name="productID-delete" id="productID-delete" placeholder="Ingrese ID" >
        </form>
        <button class="botons" type="button" id="delete-btn">Eliminar</button>
    </div>
</div>


<h2>Productos:</h2>
<div id="products-list-container">
      
</div>
       

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>