<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <img src="/static/images/logo.png" id="logo" alt="Logo de la empresa" width="50" height="50" class="d-inline-block align-text-top logo-img">
        <a class="navbar-brand" href="#">{{user.role}} user</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{#if userAdmin}}
                    <li class="nav-item">
                        <a href="/usersadminmanager" class="btn btn-outline-secondary text-white">
                            👥⚙️ Users Manager
                        </a>
                    </li>
                {{/if}}
                <li class="nav-item">
                    <a href="/home" class="btn btn-outline-secondary text-white">
                        🏠 Home
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                   <p class="mb-0 me-2">Hola, {{user.first_name}}!</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile"><i class="fas fa-id-card  m-2"></i> Tu perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/sessions/logout"><i class="fas fa-door-open  m-2"></i> Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container mt-5">
    <div class="jumbotron">
        <h3 class="display-4">👋 Bienvenido, {{user.first_name}} {{user.last_name}}!</h3>
        <h4 class="my-4">📝 Datos de usuario:</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">🎫 User ID: <span id="user-id">{{user._id}}</span></li>
            <li class="list-group-item">📧 Email: <span id="user-email">{{user.email}}</span></li>
            <li class="list-group-item">🏷️ Rol: <span id="user-role">{{user.role}}</span></li>
            <li class="list-group-item">🛒 Cart ID: <span id="cart-id">{{cart}}</span></li>
        </ul>
    </div>
</div>

<h2 class="text-center my-4 m-5" style="color: white;">📦 Administracion de productos en tiempo real 🕓</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">Agrega un producto:</h3>
                    <form id="formProduct" enctype="multipart/form-data">
                        <div class="form-group">
                            <input class="form-control" type="text" name="title" id="title" placeholder="Ingrese Nombre del Producto" required>
                            <input class="form-control" type="text" name="description" id="description" placeholder="Ingrese description" required>
                            <input class="form-control" type="text" name="category" id="category" placeholder="Ingrese categoria" required>
                            <input class="form-control" type="number" name="price" id="price" placeholder="Ingrese precio del producto" required>
                            <input class="form-control" type="number" name="stock" id="stock" placeholder="Ingrese su stock" required>
                            <input class="form-control" type="text" name="code" id="code" placeholder="Ingrese codigo del producto" required>
                            <input class="form-control" type="file" name="product" id="productImage">
                        </div>
                        <button class="btn btn-primary btn-block" type="submit" name="add-btn" id="add-btn">Registrar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">Actualize un producto:</h3>
                    <form id="updateForm">
                        <div class="form-group">
                            <input class="form-control" type="text" name="productID" id="productID" placeholder="Ingrese ID" required>
                            <h4 class="my-4">Datos a actualizar:</h4>
                            <input class="form-control" type="text" name="title" id="title" placeholder="Ingrese Nombre del Producto">
                            <input class="form-control" type="text" name="description" id="description" placeholder="Ingrese description">
                            <input class="form-control" type="text" name="category" id="category" placeholder="Ingrese categoria">
                            <input class="form-control" type="number" name="price" id="price" placeholder="Ingrese precio del producto">
                            <input class="form-control" type="number" name="stock" id="stock" placeholder="Ingrese su stock">
                            <input class="form-control" type="text" name="code" id="code" placeholder="Ingrese codigo del producto">
                            <input class="form-control" type="text" name="thumbnail" id="thumbnail" placeholder="Ingrese su imagen url">
                            <input class="form-control" type="file" name="product" id="productImage">
                        </div>
                        <button class="btn btn-primary btn-block" type="submit" name="add-btn" id="add-btn">Update</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">Eliminar un producto:</h3>
                    <form id="deleteProduct">
                        <div class="form-group">
                            <input class="form-control" type="text" name="productID-delete" id="productID-delete" placeholder="Ingrese ID" required>
                        </div>
                    </form>
                    <button class="btn btn-danger btn-block" type="button" id="delete-btn">Eliminar</button>
                </div>
            </div>
        </div>

    </div>
</div>



<h2 class="text-center my-4" style="color: white;">Productos:</h2>

<div class="container">
    <div class="row" id="products-list-container">
        <!-- Los productos se insertarán aquí -->
    </div>
</div>

<footer class="footer mt-auto py-3 bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <p>Disclaimer: This is a demo website. The products listed here are not for sale. The chat is not real. This website is for demonstration purposes only.</p>
                <p>© 2023 Coder Backend - Developed by Luciano Alessi</p>
            </div>
            <div class="col-md-6">
                <h5>Contacto:</h5>
                <a href="https://www.linkedin.com/in/lucianoalessi/" class="text-light"><i class="fab fa-linkedin"></i> LinkedIn</a><br>
                <a href="https://github.com/lucianoalessi" class="text-light"><i class="fab fa-github"></i> GitHub</a><br>
                <a class="text-light">📧 lucianoalessi9@hotmail.com</a><br>
                <p class="text-light">📍  Quilmes, Buenos Aires.</p>
            </div>            
        </div>
    </div>
</footer>


<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realTimeProducts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 

<style>
/* Estilos generales del cuerpo del documento */
body {
    background: linear-gradient(45deg, #06c -52%, #000 81%, #a044e3 95%);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* TARJETAS */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* Estilos al pasar el mouse */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Estilos para el cuerpo de las tarjetas */
.card-body {
    padding: 20px;
}

/* NAVBAR Estilos para los enlaces de navegación */
.nav-link{
    border-radius: 25px;
}

/* Estilos para el logo */
.logo-img {
    margin-right: 20px;
}

/* BOTONES */
.btn {
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    transition: background-color .2s;
}

/* Estilos para los botones de éxito */
.btn-outline-success {
    background-color: #0033ff;
    color: white;
}
/* Estilos para los botones de éxito al pasar el mouse */
.btn-outline-success:hover {
    background-color: #28a745;
    color: white;
}

/* Estilos para los botones secundarios */
.btn-outline-secondary {
    background-color: transparent;
    color: #6c757d;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: white;
}
.btn-outline-secondary.text-white {
    color: white;
}

/* Estilos para los botones de peligro */
.btn-outline-danger {
    background-color: transparent;
    color: #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

/* Estilos para los controles de formulario */
.form-control {
    margin-bottom: 10px;
}

/* Pie de pagina */
footer {
    margin-top: auto;
}

</style>

